<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta charset="UTF-8">
    <title>Dice Roller</title>

</head>
<body>
   <h1>Dice Roller</h1>

   <div>
    <p>With a DC of {{ difficultyValue }}, and a modifier of {{ modifier }}, the probability of success is {{ result }}%</p>
    <form action="/" method="post">
        <button type="submit" type="button">Get Result</button>
    </form>
    </div>

</body>
</html>